$body-color: #232830;
$canvas-color: #2c303c;
$start-btn-color: #F8823C;
$tweet-btn-color: #03A9F4;
$replay-btn-color: #58BE89;
$gray:  #666666;
$light-gray: #eee;
$white:  #ffffff;

*, *::before, *::after {
    box-sizing: border-box;
}

* {
  //font-size: 24px;
  font-size:4vw;
  @media screen and (min-width:600px){
    font-size:16px;
  }
}

html {
    box-sizing: inherit;
    height:100%;
    width:100%;
}

body {
    background: $body-color;
    box-sizing: inherit;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
    margin: 0;
    padding: 0;
    width:100%;
}
.puzzle {
    width:80%;
    @media screen and (min-width:600px){
        width:auto;
    }
}
.canvas-container {
    padding-top: 100%;
    position: relative;
    @media screen and (min-width:600px){
        padding-top:400px;
        width:400px;
    }
    &::before {
        background: $canvas-color;
        content:'';
        display:block;
        position: absolute;
        top:-0.1em;
        left:-0.1em;
        bottom:-0.1em;
        right:-0.1em;
    }
}

.canvas, .canvas-piece {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.canvas-piece-container {
    .canvas-piece {
        background: $canvas-color;
        border: .1em solid $canvas-color;
    }
    &-2, &-5, &-8 {
        left: calc(100% / 3) !important;
    }
    &-3, &-6, &-9 {
        left: calc(100% / 3 * 2) !important;
    }
    &-4, &-5, &-6 {
        top: calc(100% / 3) !important;
    }
    &-7, &-8, &-9 {
        top: calc(100% / 3 * 2) !important;
    }
}

.canvas-piece-container {
    padding-top: calc(100% / 3);
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% / 3);
}

.blank {
    z-index: 100;
}
.target {
    z-index: 101;
}

.btn {
    border: none;
    border-radius: 0.2em;
    border-bottom-style: solid;
    border-bottom-width: 0.2em;
    color: $light-gray;
    cursor: pointer;
    font-size:1.2em;
    outline:none;
    padding:1em 1.8em;
    > a {
        display: inline-block;
    }
    &:active {
        border-bottom: none;
        transform:translateY(0.2em);
    }
    &-start{
        background:$start-btn-color;
        border-bottom-color:darken($start-btn-color,20%);
    }
    &-tweet{
        background:$tweet-btn-color;
        border-bottom-color:darken($tweet-btn-color,20%);
    }
    &-replay {
        background-color:$replay-btn-color;
        border-bottom-color:darken($replay-btn-color,20%);
    }
}

.timer {
    color: #999;
    font-family: 'Orbitron', sans-serif;
}

.none {//ボタンを非表示
  display:none;
}

.center {
  text-align:center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-1 {
  margin-bottom:1em;
}
